<main class="relative w-screen h-screen pt-12 bg-gray-50">
  <section
    class="relative h-full px-10 py-8 mx-auto bg-white rounded shadow-md md:py-11 md:min-w-96 md:max-w-sm md:h-fit mt-11"
  >
    <img
      class="w-32 mx-auto"
      ngSrc="/assets/images/logo/logo-gradient-blue-trello.png"
      alt="logo"
      height="301"
      width="641"
    />
    <div class="mb-4">
      <h1 class="pt-4 pb-8 font-semibold text-center">
        Inicia sesión para continuar
      </h1>
      <form novalidate class="space-y-4">
        <div class="relative">
          <input
            type="email"
            class="w-full bg-gray-100 border border-gray-300 rounded"
            placeholder="Enter email"
          />
        </div>
        <div class="relative">
          <input
            type="password"
            class="w-full bg-gray-100 border border-gray-300 rounded"
            placeholder="Enter password"
          />
        </div>
        <div>
          <button
            type="submit"
            class="w-full px-5 py-2 text-sm font-medium text-white bg-blue-600 rounded"
          >
            Log In
          </button>
        </div>
      </form>
      <p class="mt-4 text-sm text-center text-blue-700">
        ¿No puedes iniciar sesión? • Crear una cuenta
      </p>
    </div>
    <section
      class="flex flex-col items-center pt-5 space-y-3 text-center border-t"
    >
      <img
        ngSrc="/assets/images/logo/logo-atlassian-gray.png"
        alt="trello"
        width="150"
        height="24"
      />
      <span class="text-xs"
        >Una cuenta para Trello, Jira, Confluence y más.</span
      >
      <span class="text-xs">Política de privacidad • Aviso de usuario</span>
      <span class="text-xs"
        >Este sitio está protegido por reCAPTCHA, y se aplican la política de
        privacidad y las condiciones de servicio de Google.</span
      >
    </section>
  </section>
  <img
    src="/assets/images/background/login-bg-left.svg"
    alt="Bg image left"
    class="absolute bottom-0 left-0 w-80"
  />
  <img
    src="/assets/images/background/login-bg-right.svg"
    alt="Bg image right"
    class="absolute bottom-0 right-0 w-80"
  />
</main>
